body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    /* font-family: sans-serif; */
}

h1 {
    background-color: pink;
    color: #fff;
}

.subtitle {
    color: blue;
}

h4,
.sports li {
    color: orange;
}

.txt-purple {
    color: purple;
}

.links h2 {
    color: red;
}

.movies {
    color: green;
}
