body {
    color: #333;
}

h1 {
    color:pink;
}

h2 {
    color: blue;
}

.subtitle-red {
    color: red;
}

.subtitle-h4-orange, .list-sports {
    color: orange;
}

.color-purple {
    color: purple;
}

.link h3 {
    color: purple;
}

.font-size-20 {
    font-size: 30px;
}